@import "variables.scss";

/*

General Styling
=========================================*/


  * {
  box-sizing: border-box;
}

body
{
  font-family:'Open Sans', "arial", "helvetica neue" sans-serif;
  background-color: rgb(229,227,224);
}

#container
{
  margin: $centerMargin;
  text-align: center;
}


.content
{

  margin: $centerMargin;
  max-width: 90%;
}
.footer-content
{
  margin: $centerMargin;
  max-width: 100%;
}



.secondHeader
{
  padding-top: 40px;
}

.arrows
{
  @extend %inline-contactInfo;
  font-size: 90px;
  @extend %hovertransition;

}

.brightArrow
{
  color: $brightText;
  margin-bottom: 40px; // hej

}
.brightArrow:hover
{
  color: $darkText;
}

.darkArrow
{
  color: $darkText;

}
.darkArrow:hover
{
  color: grey;
}
a
{
  color: inherit;
}


a, a:active, a:focus, a:visited
{
  text-decoration: none; // Tar bort det understrukna från länkar
  outline: none; // Tar bort den blå boxen runt länkar och knappar
  border:0;
  @extend %hovertransition;

}

a:hover
{
  @extend %hovertransition;

}


h2
{
  font-size: 2rem;
}



/*

    Header Section!
===========================================================
*/

#header{
   background: url(../images/citybackground.jpg) no-repeat fixed center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // Hej
  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h1
{
  font-family: 'Stalemate', cursive !important;
  color: $brightText;
  font-size: 7rem;
}


#mobileMenuWrapper {
  //display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: $menuButtonBackground;
}




.menu-toggle-btn{
  display: none;
  padding: 50px;
  cursor: pointer;
  width: 40px;
  height: 40px;

  span{
    background: white;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 6px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear;
  }
  &.open{
    span{
      &:nth-child(1),
      &:nth-child(3){
        transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
        margin: 0;
      }
      &:nth-child(2){
        height: 0;
        margin: 0;
      }
      &:nth-child(3){
        transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
      }
    }
  }
}



#mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0;
}
#mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0;
}

#mobileMenuWrapper:hover .mobilemenulistItem {
  visibility: visible;
}

#headerMobileNavigation
{
display: none;
position: absolute;
width: 100%;
}



.mobilemenulistItem a
{
  color: white;
  margin: 6px;
  padding: 20px;
}
.mobilemenulistItem a:hover
{
  color: $hoverText;
}
.mobilemenulistItem a:active
{
  color: $hoverText;

}

.mobile-headerText
{
  margin: $centerMargin;
  padding-top: 170px;
  color: white !important;
}

.mobile-tablet-Header
{
  display: block;
}

/*

About Vilhelm Falkenmark
========================================= */

.round
{
  height: $circleSize*1.5;
  width: $circleSize*1.5;
  border-radius: $circleSize;
  display: inline-block;
  margin: 40px;
  @extend %hovertransition;
}

.round span
{
  //padding-top: 30px;
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: $brightText;
  text-shadow: 1px 1px 3px $hoverText;
  font: 72px Stalemate, sans-serif;
}

.red
{
  background-color: $red;
}
.green
{
  background-color: $green;
}
.orange
{
  background-color: $orange;
}

.red:hover, .green:hover, .orange:hover
{
  @extend %hovertransition;
  @extend %outerShadow;

}
.red:active, .green:active, .orange:active
{
  @extend %hovertransition;
  @extend %innerShadow;
}


#skillsAndResumeContent li
{
  color: $darkText;
  padding-top: 10px;
}
#randomStuffContent li
{
  color: $darkText;
  padding-top: 10px;
}





/*

Portfolio!
================================================================== */


.portfolio-content // Wrapper of the portfolio Stuff
{
  //width: 100%;
  //margin: 0 auto;
}

.portfolioRow
{
  width: 100%;
}



.portfolioItemBackground // The image of macbooks, Iphones, etc.
{
  top: 0;
  background: url(../images/macbook.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  height: 354px;
  width: 600px;
  display: inline-block;
  vertical-align:top // Makes the div place properly inkline glued to the top
}

.portfolioItemText
{
  margin: 20px;

  vertical-align:top; // Makes the div place properly inkline glued to the top
  height: 354px;
  width: 600px;
  display: none;
  border: solid 2px black;
}
.portfolioItemText span
{
  width: 50%;
  position: relative;
  top: 30%;
}
.innerPortfolioText
{
  padding-top: 40px;
  display: block;
}



.portfolioItem // Position of the div inside the macbook
{
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-right: 2px;
  display: inline-block;
}
.portfolioLayer span // The text on hover over portfolio items
{
  font-size: 20px;
  color: white;
  position: relative;
  top: 15%; // Adjust the text to the top. The more you increase, the further it will go
 // transform: translateY(-20%);
  text-align: center;
}


#codeGenerator // The image of the code generator!
{

  background:
    //rgba(0,0,0, 0.9),
    //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/codeGen.jpg) no-repeat; // Hehwu
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
}
#johannaGame  // The image of the Johannagame!
{
  background:
    //rgba(0,0,0, 0.9),
    //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/johannaGame.jpg) no-repeat; // Hej hej
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
}

#morseHax  // The image of the  MorseHax!
{
  background:
    //rgba(0,0,0, 0.9),
    //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/morse_hax.jpg) no-repeat; // Hej hej
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
}

.portfolioLayer // The dark that appears when you hover over the computer!
{
  top:0px;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
  // background: rgba(0,0,0, 0.5);
  background: #141414;
  opacity:0;
  @extend %hovertransition;
}

.portfolioLayer:hover
{
  display: block;
  @extend %hovertransition;
  opacity:0.8;
}



/*

My Services!
================= */
#myServicesBackground
{
  // background-color: black;
  background: url(../images/forestBackground2copy.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; //hej
  top: 0;
  left: 0;
}

#myServices
{
  font-size: 24px;
  width: 100%;
  color: $brightText;
  margin: 0 auto;
}
#myServicesInner
{
  width: 60%;
  margin: 0 auto;

}
#contactMe-Services
{
  font-size: 28px;
  border: 2px solid white;
  width: 220px;
  margin: 30px auto 30px auto;
  //border-radius: 8px;
}
#contactMe-Services:hover
{
 color: $darkText;
}

/*
  Thank You!
=========================================================== */



#thankYouBackground
{
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


#thankYou
{
  padding-top: 250px;
}
#thankYou span
{
  font-family: 'Stalemate', sans-serif !important;
  font-size: 130px;
  color: $brightText;
}


#myServices h2, ul
{
  color: $brightText;
}



/*

  FOOTER!
============================================================ */
#contact
{
  color: $darkText;
}

#footerIcons li a
{
  font-size: 80px;
  margin: 90px;

}

#footerList li
{
  color: $darkText;
  font-size: 40px;
  margin: 20px;
}
#footer li a
{
  color: $darkText;
}
#footer li a:hover
{
  color: $hoverText;
}





/* HIDDEN STUFF

=========================================================== */


.tabletHeader
{
  display: none;
}



#desktopMenuWrapper
{
  display: none;
}
#desktopHeader
{
  display: none;
}
#portrait
{
  display: none;
}

.innerPortfolioTextShort
{
  display: none;
}


/*

Google Maps
====================================================*/

.map-content
{
  display:block;
}









