@import "variables.scss";

/*

General Styling
=========================================*/


  * {
  box-sizing: border-box;
}

body
{
  font-family:'Open Sans', "arial", "helvetica neue" sans-serif;
 // font-size: 34px;
}

#container
{
  margin: $centerMargin;
  text-align: center;
}

.content
{

  margin: $centerMargin;
  max-width: 90%;
}
.footer-content
{
  margin: $centerMargin;
  max-width: 100%;
}
.main-content
{
  margin: $centerMargin;
  max-width: 90%;
}
.map-content
{
  background-color: grey;
}



.secondHeader
{
  padding-top: 40px;
}

.arrows
{
  @extend %inline-contactInfo;
  font-size: 90px;
  @extend %hovertransition;

}

.brightArrow
{
  color: $brightText;
}
.brightArrow:hover
{
  color: $darkText;
}

.darkArrow
{
  color: $darkText;

}
.darkArrow:hover
{
  color: grey;
}
a
{
  color: inherit;
}


a, a:active, a:focus, a:visited
{
  text-decoration: none; // Tar bort det understrukna från länkar
  outline: none; // Tar bort den blå boxen runt länkar och knappar
  border:0;
  @extend %hovertransition;

}

a:hover
{
  @extend %hovertransition;

}


h2
{
  font-size: 2rem;
}



/*

    Header Section!
===========================================================
*/

#header{
   background: url(../images/citybackground.jpg) no-repeat fixed center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // Hej
  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
}
h1
{
  font-family: 'Stalemate', cursive !important;
  color: $brightText;
  font-size: 7rem;
}


#mobileMenuWrapper {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto;

}

#mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0;
}
#mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0;
}

#mobileMenuWrapper:hover .mobilemenulistItem {
  visibility: visible;
  // position: absolute;
}

.headerMobileNavigation
{
  margin-top: -40px;
}
.mobilemenulistItem
{
  background-color: rgba(0, 0, 0, 0.650);
}


.mobilemenulistItem a
{
  color: white;
  margin: 6px;
}
.mobilemenulistItem a:hover
{
  color: $hoverText;
}
.mobilemenulistItem a:active
{
  color: $hoverText;

}

.mobile-headerText
{
  margin: $centerMargin;
  max-width: 90%;
  padding-top: 270px;
  color: white !important;
}

.mobile-tablet-Header
{
  //padding-top: 30px;
  display: block;
}

/*

About Vilhelm Falkenmark
========================================= */

.round
{
  height: $circleSize*1.5;
  width: $circleSize*1.5;
  border-radius: $circleSize;
  display: inline-block;
  margin: 40px;
  @extend %hovertransition;
}

.round span
{
  //padding-top: 30px;
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: $brightText;
  text-shadow: 1px 1px 3px $hoverText;
  font: 72px Stalemate, sans-serif;

}

.red
{
  background-color: $red;
}
.green
{
  background-color: $green;
}
.orange
{
  background-color: $orange;
}

.red:hover, .green:hover, .orange:hover
{
  @extend %hovertransition;
  @extend %outerShadow;

}
.red:active, .green:active, .orange:active
{
  @extend %hovertransition;
  @extend %innerShadow;
}


#skillsAndResumeContent li
{
  color: $darkText;
  padding-top: 10px;
}
#randomStuffContent li
{
  color: $darkText;
  padding-top: 10px;
}





/*

Portfolio!
================================================================== */


.portfolio-content // Wrapper of the portfolio Stuff
{
  width: 100%;
  margin: 0 auto;
}

.portfolioItemBackground // The image of macbooks, Iphones, etc.
{
  margin: 10px; // The distance between the computers in all directions!
  background: url(../images/macbook.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;

  height: 354px;
  width: 600px;
  display: inline-block;
}

.portfolioItem // Position of the div inside the macbook
{
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-right: 2px;
  display: inline-block;
}
.portfolioLayer span // The text on hover over portfolio items
{
  font-size: 20px;
  color: white;
  position: relative;
  top: 15%; // Adjust the text to the top. The more you increase, the further it will go
  transform: translateY(-20%);
  text-align: center;
}


#codeGenerator // The image of the code generator!
{

  background:
    //rgba(0,0,0, 0.9),
    //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/codeGen2.jpg) no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
}
#johannaGame  // The image of the Johannagame!
{
  background:
    //rgba(0,0,0, 0.9),
    //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/johannaGame.jpg) no-repeat; // Hej hej
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
}

.portfolioLayer // The dark that appears when you hover over the computer!
{
  top:0px;
  height: $portfolioItemHeight;
  width: $portfolioItemWidth;
  // background: rgba(0,0,0, 0.5);
  background: #141414;
  opacity:0;
  @extend %hovertransition;
}

.portfolioLayer:hover
{
  display: block;

  @extend %hovertransition;
  opacity:0.8;
}



/*

My Services!
================= */
#myServicesBackground
{
  // background-color: black;
  background: url(../images/forestBackground2.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; //hej
  top: 0;
  left: 0;
}

#myServices
{
  font-size: 24px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  color: $brightText;
  //margin-top: 200px;
  margin: 0 auto;
  //padding-top: 200px;
}
#contactMe-Services
{
  font-size: 24px;
}
#contactMe-Services:hover
{
 color: $darkText;
}

/*
  Thank You!
=========================================================== */



#thankYouBackground
{
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


#thankYou
{
  padding-top: 250px;
}
#thankYou span
{
  font-family: 'Stalemate', sans-serif !important;
  font-size: 130px;
  color: $brightText;
}


#myServices h2, ul
{
  color: $brightText; //hej
}



/*

  FOOTER!
============================================================ */
#contact
{
  color: $darkText;
}

#footerIcons li a
{
  font-size: 80px;
  margin: 20px;

}

#footerList li
{
  color: $darkText;
  font-size: 40px;
  margin: 20px;
}
#footer li a
{
  color: $darkText;
}
#footer li a:hover
{
  color: $hoverText;
}





/* HIDDEN STUFF

=========================================================== */


.tabletHeader
{
  display: none;
}

/*#mobileMenuWrapper
{
  display: none;
}
*/


#desktopMenuWrapper
{
  display: none;
}
#desktopHeader
{
  display: none;
}
#portrait
{
  display: none;
}







/*

Google Maps
====================================================*/

.map-content
{
  display:none;
}









