$circleSize: 240px;
$squareSize: 400px;
$centerMargin: 0 auto;

* {
  box-sizing: border-box;
}

#container
{
  margin: $centerMargin;
  text-align: center;
}

#header{

background: url(../images/cloudbackground2.jpg) no-repeat fixed center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;

  // min-width: 1024px; OM DU INTE KOMMENTERAR BORT DEN HÄR BÖRJAR TEXTEN BETE SIG KONSTIGT!

  /* Set up proportionate scaling */
 // max-height: 50px;
  /*
*/
  /* Set up positioning */
  //position: fixed;
  top: 0;
  left: 0;
  /*text-align: center; *//*handles the horizontal centering*/
}

#contactBackground
{
  background: url(../images/mooseBackground.jpeg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
}
#thankYouBackground
{
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
}
/*
#portFolioBackground
{
  background: url(../images/toolsBackground.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
}
*/


#logoType
{
  display: block;
  margin: $centerMargin;
  padding-top: 140px;
}

.headerText
{
  padding-top: 260px;
  //margin-top: 50px;
}
.content
{
  margin: $centerMargin;
  max-width: 90%;

}



/* CIRCLES!

=========================================================== */

.round
{
  height: $circleSize;
  width: $circleSize;
  border-radius: $circleSize/2;
  display: inline-block;
  margin: 40px;
  @extend %hovertransition;

}

.round span
{
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: $brightText;
  font-size: 55px;
  text-shadow: 1px 1px 3px #707070;
  font-family: 'Stalemate', cursive !important;
}

.red
{
  background-color: $red;
}
.green
{
  background-color: $green;
}
.orange
{
  background-color: $orange;
}

.red:hover, .green:hover, .orange:hover
{
  @extend %hovertransition;
  @extend %outerShadow;

}
.red:active, .green:active, .orange:active
{
  @extend %hovertransition;
  @extend %innerShadow;
}





/* ICONS AND LINKS

=========================================================== */



%inline-contactInfo
{
  cursor: pointer;
  display: inline-block;
  //font-style: normal;
  width: 160px;
  vertical-align: top;
  margin: 60px;
}

.icons:before
{
  margin: 0;
}


.icons
{
  padding-top: 70px;
  @extend %inline-contactInfo;
  font-size: 90px;
  color: $brightText;
  @extend %hovertransition;

}

.icons:hover
{
  @extend %hovertransition;
  color: $darkText;
}

.icons a {
  color: $brightText;
  @extend %hovertransition;
}
.icons a:hover
{
  @extend %hovertransition;
  color: $darkText;
}


.iconsAdditonalInfo
{
  @extend %inline-contactInfo;
  margin-top: 0px !important;
  font-size:32px;
  color: white;
  text-shadow: 3px 3px 3px #4a4a4a;
  @extend %hovertransition;
}
.iconsAdditonalInfo:hover
{
  @extend %hovertransition;
  color: #747474;
}

.iconsAdditonalInfo a
{
  color: white;
  @extend %hovertransition;
}

.iconsAdditonalInfo a:hover
{
  @extend %hovertransition;
  color: #747474;
}


/*

ARROWS
================================================================== */

.arrows
{
  @extend %inline-contactInfo;
  font-size: 90px;
  @extend %hovertransition;

}

.brightArrow
{
  color: $brightText;
}
.brightArrow:hover
{
  color: $darkText;
}

.darkArrow
{
  color: $darkText;

}
.darkArrow:hover
{
  color: grey;
}






.portfolioItem
{
  display: inline-block;
  margin: 50px;
}

.square
{
  height: $squareSize;
  width: $squareSize;
  background-color: rgba(0,0,0, 0.5);
}
.square span
{
 // font-family: 'Stalemate', cursive !important;
  font-size: 20px;
  color: white;
  position: relative;
  top: 25%; // Adjust the text to the top. The more you increase, the further it will go
  transform: translateY(-20%);
  text-align: center;
}

#codeGenerator
{

  background:
  //rgba(0,0,0, 0.9),
  //linear-gradient(4deg,#ffffff, transparent 49%),
  url(../images/codeGenerator.jpg) no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#johannaGame
{
  background: url(../images/codeGenerator.jpg) no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolioLayer
{
  top:0px;
  width: $squareSize;
  height: $squareSize;
  background: #141414;
  opacity:0;
  @extend %hovertransition;
}

.portfolioLayer:hover
{
  @extend %hovertransition;
  opacity:0.7;
}


/*
  Thank You!
=========================================================== */

#thankYou
{
  padding-top: 250px;
}
#thankYou span
{
  font-family: 'Stalemate', cursive !important;
  font-size: 230px;
  color: $brightText;
}




/*

  FOOTER!
============================================================ */
#footer
{
  //height: 200px;
 // width: 100%;
}
#footer li
{
  color: $brightText;
  font-size: 20px;
  @extend %inline-contactInfo;
}






/* HIDDEN STUFF

=========================================================== */

#lifeStoryContent
{
  display: none;
}
#skillsAndResumeContent
{
  display: none;
}
#randomStuffContent
{
  display: none;
}

#myServices
{
  display: none;
}


