
/*

Desktop!
======================================
**/

@media (min-width: 1000px) and (max-width: 1420px)
{
  .icons
  {
    margin: 40px !important;
    width: 100px !important;
  }

  .iconsAdditonalInfo
  {
    font-size: 25px;
    margin: 40px !important;
    width: 100px !important;
  }
}








/*

Tablet!
======================================

*/

@media (min-width: 740px) and (max-width: 999px)
{

  body{
    font-size: 34px;
  }

  .icons
  {
    margin: 20px !important;
    width: 80px !important;
  }

  .iconsAdditonalInfo
  {
    font-size: 20px;
    margin: 20px !important;
    width: 80px !important;
  }


  #headerNavigation {
    text-align: center;
    margin: 0 auto;
  }
  .mobileHeader
  {
    display: none  }

  .tabletHeader {
    margin-top: -30px;
    visibility: visible;
  }

  .mobile-tablet-Header
  {
    display: block;
  }



  #topMenu {
    visibility: hidden;
  }

  #desktopHeader {
    display: none;
  }

  #mobileMenuWrapper {
    display: block;
    padding-top: 10px;
    // background-color: rgba(0, 0, 0, 0.50);
    width: 200px;
    height: 100px;
    margin: 0 auto;

  }
  .mobilemenulistItem {
    visibility: hidden;
  }

  #mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
  }
  #mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
  }

  #mobileMenuWrapper:hover .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
  }

  .headerMobileNavigation
  {
    width: 200px;
    margin-top: -40px;
  }
  .mobilemenulistItem
  {
    background-color: #373737;
  }


  .mobilemenulistItem a
  {
    color: white;
    font-size: 30px;
    margin: 6px;
  }
  .mobilemenulistItem a:hover
  {
    color: $hoverText;
  }
  .mobilemenulistItem a:active
  {
    color: $hoverText;

  }


  /* About section */

  .round
  {
    height: $circleSize*2;
    width: $circleSize*2;
    border-radius: $circleSize;
    display: inline-block;
    margin: 60px;
   // @extend %hovertransition;
  }



  .round span
  {
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    color: $brightText;
    font-size: 105px;
    text-shadow: 1px 1px 3px $hoverText;
    font-family: 'Stalemate', cursive !important;
  }

  #lifeStoryContent {
    display: inline-block;
  }
  #skillsAndResumeContent {
    display: inline-block;
  }
  #randomStuffContent {
    display: inline-block;
  }

/* Contact me Section*/

  .iconsAdditonalInfo {
    display: none;
  }

  #myServices {
    display: block;
  }

  #thankYou span {
    font-size: 130px;
  }

  .portfolio-content // Wrapper of the portfolio Stuff
 {
    max-width: 100%;
  }

  #myServices
  {
    font-size: 20px;
    height: 100%;
  }




  .lines {
    // border-bottom: 67px double white;
    border-top: 26px solid white;
    content: "";
    height: 15px;
    width: 200px;
    padding-top: 15px;
    cursor: pointer;
  }


/* Portfolio Section */

$portFolioMargin: 10px;

  .portfolioItemBackground // The image of macbooks, Iphones, etc.
   {
    margin: $portFolioMargin; // The distance between the computers in all directions
  }
  .portfolioItem // Position of the div inside the macbook
 {
    margin-left: $portFolioMargin; // Hej hej
    margin-right: $portFolioMargin; // Hej hej
  }
}

/*

iPhone!
======================================

*/


@media (max-width: 740px)
{

  body{
    font-size: 34px;
  }

  .icons
  {
    margin: 20px !important;
    width: 80px !important;
  }

  .iconsAdditonalInfo
  {
    font-size: 20px;
    margin: 20px !important;
    width: 80px !important;
  }


  #logoType {
    margin-top: 0px;
  }
  #headerNavigation {
    text-align: center;

    margin: 0 auto;
  }

  .tabletHeader
  {
  display: none  }

  .mobile-tablet-Header
  {
    display: block;
  }

  .mobileHeader {
    margin-top: -30px;
    visibility: visible;
  }
  #topMenu {
    visibility: hidden;
  }

  #desktopHeader {
    display: none;
  }

  #mobileMenuWrapper {
    display: block;
    padding-top: 10px;
    // background-color: rgba(0, 0, 0, 0.50);
    width: 200px;
    height: 100px;
    margin: 0 auto;

  }

  #mobileMenuWrapper + ol > li {
    //float: left;
  }

  .mobilemenulistItem {
    visibility: hidden;
  }

  #mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
  }
  #mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
  }

  #mobileMenuWrapper:hover .mobilemenulistItem {
    visibility: visible;
    // position: absolute;
  }

  .headerMobileNavigation
  {
    width: 200px;
    margin-top: -40px;
  }
  .mobilemenulistItem
  {
    background-color: #373737;
  }


  .mobilemenulistItem a
  {
    color: white;
    font-size: 30px;
    margin: 6px;
  }
  .mobilemenulistItem a:hover
  {
    color: $hoverText;
  }
  .mobilemenulistItem a:active
  {
    color: $hoverText;

  }


  /* About section */



  #lifeStoryContent {
    display: inline-block;
  }
  #skillsAndResumeContent {
    display: inline-block;
  }
  #randomStuffContent {
    display: inline-block;
  }

  /* Contact me Section*/



  .icons {
    display: none;
  }

  .iconsAdditonalInfo {
    font-size: 30px;
  }

  #myServices {
    display: block;
  }

  #thankYou span {
    font-size: 130px;
  }

  .portfolio-content // Wrapper of the portfolio Stuff
 {
    max-width: 100%;
  }

  .lines {
    // border-bottom: 67px double white;
    border-top: 26px solid white;
    content: "";
    height: 15px;
    width: 200px;
    padding-top: 15px;
    cursor: pointer;
  }


  /* Portfolio Section */

  $portFolioMargin: 20px;

  .portfolioItemBackground // The image of macbooks, Iphones, etc.
   {
    margin: $portFolioMargin; // The distance between the computers in all directions

  }

  .portfolioItem // Position of the div inside the macbook
 {
    margin-left: $portFolioMargin; // Hej hej
    margin-right: $portFolioMargin; // Hej hej
  }
}



