@media (min-width: 1px) and (max-width: 739px) {
  @import "variables.scss"; // hej

  #headerMobileNavigation {

    background-color: rgba(0, 0, 0, 0.650);
  }

  .mobilemenulistItem
  {
    display: inline-block;
    padding: 20px; // hej
  }

  .mobilemenulistItem a {
    font-size: 30px;
  }
  .mobile-tablet-Header {
    font-size: 60px;
  }

  #tablet-mobile-presentation {
    font-size: 30px;
  }

  .menu-toggle-btn {

    display: block;
  }


  //* Background on mobile devices */
  #header{
    background: url(../images/citybackground.jpg) no-repeat scroll center center;
  }


  #myServicesBackground
  {
   background: none grey;
    //background-color: white;
  }

  #thankYouBackground
  {
    background: url(../images/forestBackground.jpg) no-repeat scroll center center;
  }

#myServicesArrow
{
  display: none;
}
  #myServicesInner
  {
    width: 90%;

  }
  .round {
    height: $circleSize;
    width: $circleSize;
    border-radius: $circleSize/2;
    margin: 20px;
  }
  .round span
  {
    font: 52px Stalemate, sans-serif;
  }

  .hide
  {
    font-size: 18px;
  }

  #footerList li
  {
    font-size: 20px;
  }
  #thankYou span
  {
    font-size: 65px;
  }
}
@media (min-width: 1px) and (max-width: 600px) {
  $computerWidth: 600px;
  $computerHeight: 354px;

  .portfolioItemBackground // The image of macbooks, Iphones, etc.
  {
    height: $computerHeight/1.9;
    width: $computerWidth/1.9;
  }

  .portfolio-content // Wrapper of the portfolio Stuff
  {
    max-width: 100%;
  }

  .portfolioItem // Position of the div inside the macbook
  {
    margin: 0 auto;
    padding-top: 10px;
    //padding-right: 2px;
  }
  .portfolioLayer span // The text on hover over portfolio items
  {
    font-size: 15px;
    color: white;
    //position: relative; Hej
    top: 1%; // Adjust the text to the top. The more you increase, the further it will go hej
    transform: translateY(-10%);
    text-align: center;
  }

  /* $portfolioItemHeight: 286px;
   $portfolioItemWidth: 458px;*/

  #codeGenerator // The image of the code generator!
  {

    background: url(../images/codeGen.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $portfolioItemHeight/1.9;
    width: $portfolioItemWidth/1.9;
    margin-bottom: 20px;

  }
  #johannaGame  // The image of the Johannagame!
   {
    background: url(../images/johannaGame.jpg) center center; // Hej hej
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $portfolioItemHeight/1.9;
    width: $portfolioItemWidth/1.9;
    margin-bottom: 40px;
  }
  #morseHax  // The image of the Johannagame!
   {
    background: url(../images/morse_hax) center center; // Hej hej
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $portfolioItemHeight/1.9;
    width: $portfolioItemWidth/1.9;
    margin-bottom: 40px;
  }

  .innerPortfolioText
  {
    padding-top: 10px;
    display: block;
  }



  .portfolioLayer // The dark that appears when you hover over the computer!
  {
    top: 0px;

    width: 100%;
    height: 100%;
  } // hej
}


