.arrows {
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }

.red:hover, .green:hover, .orange:hover {
  -moz-box-shadow: 0 0 20px #414141;
  -webkit-box-shadow: 0 0 20px #414141;
  box-shadow: 10 10 20px #414141; }

.red:active, .green:active, .orange:active {
  -moz-box-shadow: inset 0 0 20px #414141;
  -webkit-box-shadow: inset 0 0 20px #414141;
  box-shadow: inset 10 10 20px #414141; }

.arrows {
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }

.red:hover, .green:hover, .orange:hover {
  -moz-box-shadow: 0 0 20px #414141;
  -webkit-box-shadow: 0 0 20px #414141;
  box-shadow: 10 10 20px #414141; }

.red:active, .green:active, .orange:active {
  -moz-box-shadow: inset 0 0 20px #414141;
  -webkit-box-shadow: inset 0 0 20px #414141;
  box-shadow: inset 10 10 20px #414141; }

/*

General Styling
=========================================*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', "arial", "helvetica neue" sans-serif;
  background-color: #e5e3e0; }

#container {
  margin: 0 auto;
  text-align: center; }

.content {
  margin: 0 auto;
  max-width: 90%;
  padding: 1px; }

.arrowHole {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #e5e3e0; }

.arrowHole:before,
.arrowHole:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box; }

.arrowHole:before {
  right: 50%;
  border-bottom: 20px solid #e5e3e0;
  border-right: 20px solid transparent; }

.arrowHole:after {
  left: 50%;
  border-bottom: 20px solid #e5e3e0;
  border-left: 20px solid transparent; }

/*.stripedContent:after {
  content:'';
  position:absolute;
  top:0px;
  left:0;
  bottom:0;
  width:0;
  border-left:20px solid red;
  border-top:16px solid transparent;
}*/
/*.stripedContent:before {
  content: " ";
  display:block;
  position: relative;
  width: 5%;
  bottom:30px;
  height:30px;
  margin: 0 auto;  // outline:1px solid red;
  background: linear-gradient(45deg, transparent 75%, $whiteBackground 75%) 0 50%,
  linear-gradient(-45deg, transparent 75%, $whiteBackground 75%) 0 50%;
  background-repeat: no-repeat;
  background-size:30px 30px, 30px 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.stripedContent:after {
  content: " ";
  display:block;
  position: relative;
  width: 100%;
  bottom:-30px;
  height:30px;
  // outline:1px solid red;
  background: linear-gradient(45deg, transparent 75%, $whiteBackground 75%) 0 50%,
  linear-gradient(-45deg, transparent 75%, $whiteBackground 75%) 0 50%;
  background-repeat: repeat-x;
  background-size:30px 30px, 30px 30px;

}*/
.stripedContent {
  width: 100; }

.footer-content {
  margin: 0 auto;
  max-width: 100%; }

.secondHeader {
  padding-top: 40px; }

.arrows {
  font-size: 90px; }

.brightArrow {
  color: #f3efef;
  margin-bottom: 40px; }

.brightArrow:hover {
  color: #414141; }

.darkArrow {
  color: #414141; }

.darkArrow:hover {
  color: grey; }

a {
  color: inherit; }

a, a:active, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  border: 0; }

h2 {
  font-size: 2rem; }

/*

    Header Section!
===========================================================
*/
#header {
  background: url(../images/citybackground.jpg) no-repeat fixed center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

h1 {
  font-family: 'Stalemate', cursive !important;
  color: #f3efef;
  font-size: 7rem; }

#mobileMenuWrapper {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #25292c; }

.menu-toggle-btn {
  display: none;
  padding: 50px;
  cursor: pointer;
  width: 40px;
  height: 40px; }
  .menu-toggle-btn span {
    background: white;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 6px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear; }
  .menu-toggle-btn.open span:nth-child(1), .menu-toggle-btn.open span:nth-child(3) {
    transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -webkit-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -ms-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -o-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    margin: 0; }
  .menu-toggle-btn.open span:nth-child(2) {
    height: 0;
    margin: 0; }
  .menu-toggle-btn.open span:nth-child(3) {
    transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -webkit-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -ms-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -o-transform: translate(0px, 9px) rotate(45deg) scalex(1.3); }

#mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0; }

#mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0; }

#mobileMenuWrapper:hover .mobilemenulistItem {
  visibility: visible; }

#headerMobileNavigation {
  display: none;
  position: absolute;
  width: 100%; }

.mobilemenulistItem a {
  color: white;
  margin: 6px;
  padding: 20px; }

.mobilemenulistItem a:hover {
  color: #747474; }

.mobilemenulistItem a:active {
  color: #747474; }

.mobile-headerText {
  margin: 0 auto;
  padding-top: 170px;
  color: white !important; }

.mobile-tablet-Header {
  display: block; }

/*

About Vilhelm Falkenmark
========================================= */
.round {
  height: 360px;
  width: 360px;
  border-radius: 240px;
  display: inline-block;
  margin: 40px; }

.round span {
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: #f3efef;
  text-shadow: 1px 1px 3px #747474;
  font: 72px Stalemate, sans-serif; }

.red {
  background-color: #16A085; }

.green {
  background-color: #e75b4c; }

.orange {
  background-color: #2d3f4d; }

#skillsAndResumeContent li {
  color: #414141;
  padding-top: 10px; }

#randomStuffContent li {
  color: #414141;
  padding-top: 10px; }

/*

Portfolio!
================================================================== */
.portfolioRow {
  width: 100%; }

.portfolioItemBackground {
  top: 0;
  background: url(../images/macbook.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  height: 354px;
  width: 600px;
  display: inline-block;
  vertical-align: top; }

.portfolioItemText {
  margin: 20px;
  vertical-align: top;
  height: 354px;
  width: 600px;
  display: none;
  border: solid 2px black; }

.portfolioItemText span {
  width: 50%;
  position: relative;
  top: 30%; }

.innerPortfolioText {
  padding-top: 40px;
  display: block; }

.portfolioItem {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-right: 2px;
  display: inline-block; }

.portfolioLayer span {
  font-size: 20px;
  color: white;
  position: relative;
  top: 15%;
  text-align: center; }

#codeGenerator {
  background: url(../images/codeGen.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

#johannaGame {
  background: url(../images/johannaGame.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

#morseHax {
  background: url(../images/morse_hax.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

.portfolioLayer {
  top: 0px;
  height: 286px;
  width: 458px;
  background: #141414;
  opacity: 0; }

.portfolioLayer:hover {
  display: block;
  opacity: 0.8; }

/*

My Services!
================= */
#myServicesBackground {
  background: url(../images/forestBackground2copy.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#myServicesTarget {
  margin-top: 35px;
  margin-bottom: -50px;
  height: 1px;
  width: 100%; }

#myServices {
  font-size: 24px;
  width: 100%;
  color: #f3efef;
  margin: 0 auto; }

#myServicesInner {
  width: 60%;
  margin: 0 auto; }

#contactMe-Services {
  font-size: 28px;
  border: 2px solid white;
  width: 220px;
  margin: 30px auto 30px auto; }

#contactMe-Services:hover {
  color: #414141; }

/*
  Thank You!
=========================================================== */
#thankYouBackground {
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#thankYou {
  padding-top: 250px; }

#thankYou span {
  font-family: 'Stalemate', sans-serif !important;
  font-size: 130px;
  color: #f3efef; }

#myServices h2, ul {
  color: #f3efef; }

/*

  FOOTER!
============================================================ */
#contact {
  color: #414141; }

#footerIcons li a {
  font-size: 80px;
  margin: 90px; }

#footerList li {
  color: #414141;
  font-size: 40px;
  margin: 20px; }

#footer li a {
  color: #414141; }

#footer li a:hover {
  color: #747474; }

/* HIDDEN STUFF

=========================================================== */
.tabletHeader {
  display: none; }

#desktopMenuWrapper {
  display: none; }

#desktopHeader {
  display: none; }

#portrait {
  display: none; }

.innerPortfolioTextShort {
  display: none; }

/*

Google Maps
====================================================*/
.map-content {
  display: block; }

@media (min-width: 1px) and (max-width: 739px) {
  .arrows {
    cursor: pointer;
    display: inline-block;
    vertical-align: top; }

  .red:hover, .green:hover, .orange:hover {
    -moz-box-shadow: 0 0 20px #414141;
    -webkit-box-shadow: 0 0 20px #414141;
    box-shadow: 10 10 20px #414141; }

  .red:active, .green:active, .orange:active {
    -moz-box-shadow: inset 0 0 20px #414141;
    -webkit-box-shadow: inset 0 0 20px #414141;
    box-shadow: inset 10 10 20px #414141; }

  #headerMobileNavigation {
    background-color: #25292c;
    z-index: 1; }

  .mobilemenulistItem {
    display: inline-block;
    padding: 20px;
    text-align: center; }

  .mobilemenulistItem a {
    font-size: 30px; }

  .mobile-tablet-Header {
    font-size: 40px; }

  #tablet-mobile-presentation {
    font-size: 30px; }

  .menu-toggle-btn {
    display: block; }

  #header {
    background: url(../images/citybackground.jpg) no-repeat scroll center center; }

  .portfolioItemBackground {
    margin-top: 10px;
    margin-bottom: 15px; }

  #myServicesBackground {
    background: none grey; }

  #thankYouBackground {
    background: url(../images/forestBackground.jpg) no-repeat scroll center center; }

  #myServicesArrow {
    display: none; }

  #myServicesInner {
    width: 90%; }

  .round {
    height: 240px;
    width: 240px;
    border-radius: 120px;
    margin: 20px; }

  .round span {
    font: 52px Stalemate, sans-serif; }

  .hide {
    font-size: 18px; }

  #footerList li {
    font-size: 20px; }

  #thankYou span {
    font-size: 65px; }

  .map-content {
    display: block; }

  #map-canvas {
    padding-top: 20px;
    width: 90%;
    height: 400px;
    margin: 5%; } }
@media (min-width: 1px) and (max-width: 600px) {
  .mobile-headerText {
    max-width: 100%; }

  .portfolioItemBackground {
    height: 186.31579px;
    width: 315.78947px;
    margin-top: 10px;
    margin-bottom: 10px; }

  .portfolio-content {
    max-width: 100%; }

  .portfolioItem {
    margin: 0 auto;
    padding-top: 10px; }

  .portfolioLayer span {
    font-size: 15px;
    color: white;
    top: 1%;
    transform: translateY(-10%);
    text-align: center; }

  #codeGenerator {
    background: url(../images/codeGen.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150.52632px;
    width: 241.05263px;
    margin-bottom: 20px; }

  #johannaGame {
    background: url(../images/johannaGame.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150.52632px;
    width: 241.05263px;
    margin-bottom: 40px; }

  #morseHax {
    background: url(../images/morse_hax.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150.52632px;
    width: 241.05263px;
    margin-bottom: 40px; }

  .innerPortfolioText {
    padding-top: 10px;
    display: block; }

  .portfolioLayer {
    top: 0px;
    width: 100%;
    height: 100%; } }
@media (min-width: 1024px) {
  /*
  General Styling
  ==================================================================================================================================
  */
  .arrows, a, a:active, a:focus, a:visited, a:hover, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .portfolioLayer, .portfolioLayer:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  body {
    font-size: 16px; }

  .content {
    max-width: 90%; }

  /*
    Header!
  ===================================================================================================================================
  */
  .menu-toggle-btn {
    display: none; }

  #desktopMenuWrapper {
    text-align: left;
    display: block; }

  #headerNavigation li {
    /*margin-top: 20px;
    margin-right: 20px;*/
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 20px; }

  #headerNavigation li a {
    color: white; }

  #headerNavigation li a:visited {
    color: white; }

  #headerNavigation li a:hover {
    color: #747474; }

  #portrait {
    float: right;
    margin: 20px;
    display: block;
    height: 240px;
    width: 240px;
    border-radius: 120px;
    background: url(../images/villePortrait.jpg) center; }

  #portrait:after {
    overflow: auto; }

  #desktopHeader {
    padding-top: 50px;
    display: block;
    color: white; }

  svg path {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    -webkit-animation: dash 45s linear forwards;
    animation: dash 55s linear forwards; }

  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0; } }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
 /*
About me!
===============================================================================================================================
*/
  .round {
    height: 240px;
    width: 240px;
    border-radius: 120px;
    margin: 40px; }

  .round span {
    font: 55px Stalemate, sans-serif !important; }

  /*
  Portfolio!
  ===============================================================================================================================
  */
  .portfolioItemBackground {
    margin: 20px; }

  /*
  My Services!
  ===============================================================================================================================
  */
  #myServices {
    font-size: 16px;
    width: 90%; }

  #myServicesArrow {
    display: block; }

  /*
   Thank You
   ===============================================================================================================================
   */
  #thankYou span {
    font-size: 260px; }

  /*

    FOOTER!
  ============================================================ */
  #footer li {
    display: inline-block;
    font-size: 20px; }

  .map-content {
    display: block; }

  #map-canvas {
    padding-top: 20px;
    width: 100%;
    height: 600px; }

  /* Stuff to hide
===============================================================================================================================
 */
  #mobileMenuWrapper {
    display: none; }

  .mobile-tablet-Header, .tabletHeader, .mobileHeader, #tablet-mobile-presentation {
    display: none; } }
@media (min-width: 1290px) {
  .portfolioItemText {
    display: inline-block; }

  .innerPortfolioText {
    display: none; }

  .innerPortfolioTextShort {
    display: block;
    padding-top: 60px;
    position: relative; } }
@media (min-width: 740px) and (max-width: 1023px) {
  .arrows, a, a:active, a:focus, a:visited, a:hover, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .portfolioLayer, .portfolioLayer:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  .arrows {
    cursor: pointer;
    display: inline-block;
    vertical-align: top; }

  .red:hover, .green:hover, .orange:hover {
    -moz-box-shadow: 0 0 20px #414141;
    -webkit-box-shadow: 0 0 20px #414141;
    box-shadow: 10 10 20px #414141; }

  .red:active, .green:active, .orange:active {
    -moz-box-shadow: inset 0 0 20px #414141;
    -webkit-box-shadow: inset 0 0 20px #414141;
    box-shadow: inset 10 10 20px #414141; }

  /*
  Header!
===================================================================================================================================
 */
  #headerMobileNavigation {
    background-color: #25292c; }

  .mobilemenulistItem {
    display: inline-block;
    padding: 20px; }

  .menu-toggle-btn {
    display: block; }

  .mobile-headerText {
    max-width: 90%; }

  .mobilemenulistItem a {
    color: white;
    font-size: 35px;
    padding-top: 10px; }

  .mobile-tablet-Header {
    font-size: 70px; }

  #tablet-mobile-presentation {
    font-size: 40px; }

  .mobileHeader {
    display: none; }

  .tabletHeader {
    display: block; }

 /*
Portfolio!
===============================================================================================================================
*/
  .portfolioItemBackground {
    margin: 20px; }

  /*
    My Services!
    ===============================================================================================================================
    */
  #myServices {
    font-size: 20px; }

  #thankYou span {
    font-size: 230px; }

  #myServicesArrow {
    display: none; }

  .map-content {
    display: block; }

  #map-canvas {
    padding-top: 20px;
    width: 100%;
    height: 500px; } }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
group,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0;
  padding: 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Remove default list styles, margins and padding.
 */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*# sourceMappingURL=stylesheet.css.map */
