.arrows, .icons, .iconsAdditonalInfo {
  cursor: pointer;
  display: inline-block;
  width: 140px;
  vertical-align: top;
  margin: 40px; }

.arrows, a, a:active, a:focus, a:visited, a:hover, #headerNavigation li a, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .icons, .icons:hover, .icons a, .icons a:hover, .iconsAdditonalInfo, .iconsAdditonalInfo:hover, .iconsAdditonalInfo a, .iconsAdditonalInfo a:hover, .portfolioLayer, .portfolioLayer:hover, .contactMe a, .contactMe a:hover {
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.3s ease;
  cursor: pointer; }

.red:hover, .green:hover, .orange:hover {
  -moz-box-shadow: 0 0 20px #414141;
  -webkit-box-shadow: 0 0 20px #414141;
  box-shadow: 10 10 20px #414141; }

.red:active, .green:active, .orange:active {
  -moz-box-shadow: inset 0 0 20px #414141;
  -webkit-box-shadow: inset 0 0 20px #414141;
  box-shadow: inset 10 10 20px #414141; }

/*

General Styling
=========================================*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', "arial", "helvetica neue" sans-serif;
  font-weight: 200; }

#container {
  margin: 0 auto;
  text-align: center; }

.content {
  margin: 0 auto;
  max-width: 90%; }

.main-content {
  margin: 0 auto;
  max-width: 80%; }

.secondHeader {
  padding-top: 40px; }

.arrows {
  font-size: 90px; }

.brightArrow {
  color: #f3efef; }

.brightArrow:hover {
  color: #414141; }

.darkArrow {
  color: #414141; }

.darkArrow:hover {
  color: grey; }

a {
  color: inherit; }

a, a:active, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  border: 0; }

h2 {
  font-size: 2rem; }

/*

    Header Section!
===========================================================
*/
#header {
  background: url(../images/leavesBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;
  /* Set up proportionate scaling */
  /*
*/
  /* Set up positioning */
  top: 0;
  left: 0;
  /*text-align: center; */
  /*handles the horizontal centering*/ }

h1 {
  font-family: 'Stalemate', cursive !important;
  color: #f3efef;
  font-size: 6rem; }

#topMenu {
  text-align: left; }

#headerNavigation li {
  margin-right: 20px;
  display: inline-block;
  font-size: 20px;
  padding: 20px; }

#headerNavigation li a {
  color: white; }

#headerNavigation li a:visited {
  color: white; }

#headerNavigation li a:hover {
  color: #747474; }

.headerText {
  padding-top: 170px;
  color: white !important; }

svg path {
  shadow: black;
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1900;
  -webkit-animation: dash 35s linear forwards;
  animation: dash 35s linear forwards; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
/*

About Vilhelm Falkenmark
========================================= */
.round {
  height: 240px;
  width: 240px;
  border-radius: 120px;
  display: inline-block;
  margin: 40px; }

.round span {
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: #f3efef;
  font-size: 55px;
  text-shadow: 1px 1px 3px #747474;
  font-family: 'Stalemate', cursive !important; }

.red {
  background-color: #D24D57; }

.green {
  background-color: #1BBC9B; }

.orange {
  background-color: #F2784B; }

#skillsAndResumeContent li {
  color: #414141;
  padding-top: 10px; }

#randomStuffContent li {
  color: #414141;
  padding-top: 10px; }

/* Contact!

=========================================================== */
#contactBackground {
  background: url(../images/mooseBackground.jpeg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0; }

#contact {
  color: #f3efef; }

.icons:before {
  margin: 0; }

.icons {
  padding-top: 70px;
  font-size: 90px;
  color: #f3efef; }

.icons:hover {
  color: #414141; }

.icons a {
  color: #f3efef; }

.icons a:hover {
  color: #414141; }

.iconsAdditonalInfo {
  margin-top: 0px !important;
  font-size: 32px;
  color: white;
  text-shadow: 3px 3px 3px #747474; }

.iconsAdditonalInfo:hover {
  color: #747474; }

.iconsAdditonalInfo a {
  color: white; }

.iconsAdditonalInfo a:hover {
  color: #747474; }

/*

Portfolio!
================================================================== */
.portfolio-content {
  max-width: 100%;
  margin: 0 auto; }

.portfolioItemBackground {
  margin: 60px;
  background: url(../images/macbook.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  /*max-width: 100%;
  height: auto;
  width: auto\9;
*/
  height: 354px;
  width: 600px;
  display: inline-block; }

.portfolioItem {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-right: 2px;
  display: inline-block; }

.portfolioLayer span {
  font-size: 20px;
  color: white;
  position: relative;
  top: 25%;
  transform: translateY(-20%);
  text-align: center; }

#codeGenerator {
  background: url(../images/codeGen2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

#johannaGame {
  background: url(../images/johannaGame.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

.portfolioLayer {
  top: 0px;
  height: 286px;
  width: 458px;
  background: #141414;
  opacity: 0; }

.portfolioLayer:hover {
  display: block;
  opacity: 0.8; }

/*

My Services!
================= */
#myServicesBackground {
  background: url(../images/forestBackground2.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0; }

#myServices {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f3efef;
  margin-top: 200px; }

.contactMe a {
  font-size: 24px;
  color: white; }

.contactMe a:hover {
  color: #747474; }

/*
  Thank You!
=========================================================== */
#thankYouBackground {
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0; }

#thankYou {
  padding-top: 250px; }

#thankYou span {
  font-family: 'Stalemate', cursive !important;
  font-size: 230px;
  color: #f3efef; }

#hello {
  padding-top: 250px; }

#hello span {
  font-family: 'Stalemate', cursive !important;
  font-size: 130px;
  color: #f3efef; }

#myServices h2, ul {
  color: #f3efef; }

/*

  FOOTER!
============================================================ */
#footer li {
  color: #414141;
  font-size: 20px;
  display: inline-block;
  margin: 20px; }

#footer li a {
  color: #414141; }

#footer li a:hover {
  color: #747474; }

/* HIDDEN STUFF

=========================================================== */
#lifeStoryContent {
  display: none; }

#skillsAndResumeContent {
  display: none; }

#randomStuffContent {
  display: none; }

.mobileHeader {
  visibility: hidden; }

#mobileMenuWrapper {
  display: none; }

/*

Desktop!
======================================
**/
@media (min-width: 1000px) and (max-width: 1420px) {
  .icons {
    margin: 40px !important;
    width: 100px !important; }

  .iconsAdditonalInfo {
    font-size: 25px;
    margin: 40px !important;
    width: 100px !important; } }
/*

Tablet!
======================================

*/
@media (min-width: 741px) and (max-width: 999px) {
  .icons {
    margin: 20px !important;
    width: 80px !important; }

  .iconsAdditonalInfo {
    font-size: 20px;
    margin: 20px !important;
    width: 80px !important; } }
/*

Phone!
======================================

*/
@media (max-width: 740px) {
  #logoType {
    margin-top: 0px; }

  #headerNavigation {
    text-align: center;
    margin: 0 auto; }

  .mobileHeader {
    margin-top: -30px;
    visibility: visible; }

  #topMenu {
    visibility: hidden; }

  #desktopHeader {
    display: none; }

  #mobileMenuWrapper {
    display: block;
    padding-top: 10px;
    width: 200px;
    height: 100px;
    margin: 0 auto; }

  .mobilemenulistItem {
    visibility: hidden; }

  #mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    top: 20px;
    left: 0;
    width: 200px; }

  #mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
    visibility: visible;
    top: 20px;
    left: 0;
    width: 200px; }

  #mobileMenuWrapper:hover .mobilemenulistItem {
    visibility: visible; }

  .headerMobileNavigation {
    width: 200px;
    margin-top: -40px; }

  .mobilemenulistItem {
    background-color: #373737; }

  .mobilemenulistItem a {
    color: white;
    font-size: 30px;
    margin: 6px; }

  .mobilemenulistItem a:hover {
    color: #747474; }

  .mobilemenulistItem a:active {
    color: #747474; }

  /* About section */
  #lifeStoryContent {
    display: inline-block; }

  #skillsAndResumeContent {
    display: inline-block; }

  #randomStuffContent {
    display: inline-block; }

  /* Contact me Section*/
  .icons {
    display: none; }

  .iconsAdditonalInfo {
    font-size: 30px; }

  #myServices {
    display: block; }

  #thankYou span {
    font-size: 130px; }

  .portfolio-content {
    max-width: 100%; }

  .lines {
    border-top: 26px solid white;
    content: "";
    height: 15px;
    width: 200px;
    padding-top: 15px;
    cursor: pointer; }

  /* Portfolio Section */
  .portfolioItemBackground {
    margin: 20px; }

  .portfolioItem {
    margin-left: 20px;
    margin-right: 20px; } }

/*# sourceMappingURL=stylesheet.css.map */
