.arrows, .icons, .iconsAdditonalInfo {
  cursor: pointer;
  display: inline-block;
  width: 140px;
  vertical-align: top;
  margin: 40px; }

/*%hovertransition
{
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.3s ease;
  // -webkit-transition-timing-function: linear; // Safari and Chrome
  //transition-timing-function: linear;
  cursor: pointer;
}
*/
.red:hover, .green:hover, .orange:hover {
  -moz-box-shadow: 0 0 20px #414141;
  -webkit-box-shadow: 0 0 20px #414141;
  box-shadow: 10 10 20px #414141; }

.red:active, .green:active, .orange:active {
  -moz-box-shadow: inset 0 0 20px #414141;
  -webkit-box-shadow: inset 0 0 20px #414141;
  box-shadow: inset 10 10 20px #414141; }

/*

General Styling
=========================================*/
.arrows, a, a:active, a:focus, a:visited, a:hover, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .contactMe a, .contactMe a:hover, .icons, .icons:hover, .icons a, .icons a:hover, .iconsAdditonalInfo, .iconsAdditonalInfo:hover, .iconsAdditonalInfo a, .iconsAdditonalInfo a:hover, .portfolioLayer, .portfolioLayer:hover {
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.3s ease;
  cursor: pointer; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', "arial", "helvetica neue" sans-serif;
  font-size: 34px; }

#container {
  margin: 0 auto;
  text-align: center; }

.content {
  margin: 0 auto;
  max-width: 100%; }

.main-content {
  margin: 0 auto;
  max-width: 80%; }

.secondHeader {
  padding-top: 40px; }

.arrows {
  font-size: 90px; }

.brightArrow {
  color: #f3efef; }

.brightArrow:hover {
  color: #414141; }

.darkArrow {
  color: #414141; }

.darkArrow:hover {
  color: grey; }

a {
  color: inherit; }

a, a:active, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  border: 0; }

h2 {
  font-size: 2rem; }

/*

    Header Section!
===========================================================
*/
#header {
  background: url(../images/citybackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  /* Set rules to fill background */
  height: 1000px;
  width: 100%;
  /* Set up proportionate scaling */
  /*
*/
  /* Set up positioning */
  top: 0;
  left: 0;
  /*text-align: center; */
  /*handles the horizontal centering*/ }

h1 {
  font-family: 'Stalemate', cursive !important;
  color: #f3efef;
  font-size: 7rem; }

#mobileMenuWrapper {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto; }

#mobileMenuWrapper:hover #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0; }

#mobileMenuWrapper:active #headerMobileNavigation .mobilemenulistItem {
  visibility: visible;
  top: 20px;
  left: 0; }

#mobileMenuWrapper:hover .mobilemenulistItem {
  visibility: visible; }

.headerMobileNavigation {
  margin-top: -40px; }

.mobilemenulistItem {
  background-color: rgba(0, 0, 0, 0.65); }

.mobilemenulistItem a {
  color: white;
  font-size: 40px;
  margin: 6px; }

.mobilemenulistItem a:hover {
  color: #747474; }

.mobilemenulistItem a:active {
  color: #747474; }

.headerText {
  padding-top: 170px;
  color: white !important; }

.mobile-tablet-Header {
  display: block; }

/*

About Vilhelm Falkenmark
========================================= */
.round {
  height: 360px;
  width: 360px;
  border-radius: 240px;
  display: inline-block;
  margin: 40px; }

.round span {
  position: relative;
  top: 35%;
  transform: translateY(-60%);
  color: #f3efef;
  font-size: 75px;
  text-shadow: 1px 1px 3px #747474;
  font-family: 'Stalemate', cursive !important; }

.red {
  background-color: #D24D57; }

.green {
  background-color: #1BBC9B; }

.orange {
  background-color: #F2784B; }

#skillsAndResumeContent li {
  color: #414141;
  padding-top: 10px; }

#randomStuffContent li {
  color: #414141;
  padding-top: 10px; }

/* Contact!

=========================================================== */
#contactBackground {
  background: url(../images/mooseBackground.jpeg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0; }

#contact {
  color: #f3efef; }

.contactMe a {
  font-size: 24px;
  color: white; }

.contactMe a:hover {
  color: #747474; }

.icons:before {
  margin: 0; }

.icons {
  margin: 20px;
  width: 80px;
  padding-top: 70px;
  font-size: 90px;
  color: #f3efef; }

#handShake {
  font-size: 80px;
  margin-right: 35px; }

.icons:hover {
  color: #414141; }

.icons a {
  color: #f3efef; }

.icons a:hover {
  color: #414141; }

.iconsAdditonalInfo {
  display: none;
  font-size: 20px;
  color: white;
  margin: 20px;
  width: 80px; }

.iconsAdditonalInfo:hover {
  color: #747474; }

.iconsAdditonalInfo a {
  color: white; }

.iconsAdditonalInfo a:hover {
  color: #747474; }

/*

Portfolio!
================================================================== */
.portfolio-content {
  margin: 0 auto; }

.portfolioItemBackground {
  margin: 10px;
  background: url(../images/macbook.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  height: 354px;
  width: 600px;
  display: inline-block; }

.portfolioItem {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-right: 2px;
  display: inline-block; }

.portfolioLayer span {
  font-size: 20px;
  color: white;
  position: relative;
  top: 15%;
  transform: translateY(-20%);
  text-align: center; }

#codeGenerator {
  background: url(../images/codeGen2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

#johannaGame {
  background: url(../images/johannaGame.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 286px;
  width: 458px; }

.portfolioLayer {
  top: 0px;
  height: 286px;
  width: 458px;
  background: #141414;
  opacity: 0; }

.portfolioLayer:hover {
  display: block;
  opacity: 0.8; }

/*

My Services!
================= */
#myServicesBackground {
  background: url(../images/forestBackground2.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#myServices {
  font-size: 24px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f3efef;
  margin: 0 auto; }

/*
  Thank You!
=========================================================== */
#thankYouBackground {
  background: url(../images/forestBackground.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#thankYou {
  padding-top: 250px; }

#thankYou span {
  font-family: 'Stalemate', cursive !important;
  font-size: 230px;
  color: #f3efef; }

#myServices h2, ul {
  color: #f3efef; }

/*

  FOOTER!
============================================================ */
#footer li {
  color: #414141;
  font-size: 40px;
  margin: 20px; }

#footer li a {
  color: #414141; }

#footer li a:hover {
  color: #747474; }

/* HIDDEN STUFF

=========================================================== */
.tabletHeader {
  display: none; }

/*#mobileMenuWrapper
{
  display: none;
}
*/
#topMenu {
  display: none; }

#desktopHeader {
  display: none; }

#portrait {
  display: none; }

/*

Google Maps
====================================================*/
#map-canvas {
  width: 100%;
  height: 600px; }

@media (min-width: 1000px) {
  /*
  General Styling
  ==================================================================================================================================
  */
  .arrows, a, a:active, a:focus, a:visited, a:hover, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .contactMe a, .contactMe a:hover, .icons, .icons:hover, .icons a, .icons a:hover, .iconsAdditonalInfo, .iconsAdditonalInfo:hover, .iconsAdditonalInfo a, .iconsAdditonalInfo a:hover, .portfolioLayer, .portfolioLayer:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  body {
    font-size: 16px; }

  .content {
    max-width: 90%; }

  /*
    Header!
  ===================================================================================================================================
  */
  #topMenu {
    text-align: left;
    display: block; }

  #headerNavigation li {
    margin-right: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 20px; }

  #headerNavigation li a {
    color: white; }

  #headerNavigation li a:visited {
    color: white; }

  #headerNavigation li a:hover {
    color: #747474; }

  #portrait {
    float: right;
    margin: 20px;
    display: block;
    height: 240px;
    width: 240px;
    border-radius: 120px;
    background: url(../images/villePortrait.jpg) center; }

  #portrait:after {
    overflow: auto; }

  #desktopHeader {
    padding-top: 160px;
    display: block; }

  .headerText {
    padding-top: 70px;
    color: white !important; }

  svg path {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
    -webkit-animation: dash 35s linear forwards;
    animation: dash 35s linear forwards; }

  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0; } }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
 /*
About me!
===============================================================================================================================
*/
  .round {
    height: 240px;
    width: 240px;
    border-radius: 120px;
    margin: 40px; }

  .round span {
    font-size: 55px;
    top: 35%; }

  .icons {
    margin: 40px; }

  .iconsAdditonalInfo {
    display: inline-block;
    margin: 40px; }

  /*
  Portfolio!
  ===============================================================================================================================
  */
  .portfolioItemBackground {
    margin: 30px; }

  .portfolioLayer span {
    top: 25%; }

  /*
  My Services!
  ===============================================================================================================================
  */
  #myServices {
    font-size: 16px;
    width: 90%; }

  #myServicesArrow {
    display: block; }

  /*

    FOOTER!
  ============================================================ */
  #footer li {
    display: inline-block;
    font-size: 20px; }

  /* Stuff to hide
===============================================================================================================================
 */
  #mobileMenuWrapper {
    display: none; }

  .mobile-tablet-Header, .tabletHeader, .mobileHeader {
    display: none; } }
@media (min-width: 740px) and (max-width: 999px) {
  .arrows, a, a:active, a:focus, a:visited, a:hover, .round, .red:hover, .green:hover, .orange:hover, .red:active, .green:active, .orange:active, .contactMe a, .contactMe a:hover, .icons, .icons:hover, .icons a, .icons a:hover, .iconsAdditonalInfo, .iconsAdditonalInfo:hover, .iconsAdditonalInfo a, .iconsAdditonalInfo a:hover, .portfolioLayer, .portfolioLayer:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  /*
  Header!
===================================================================================================================================
 */
  .mobilemenulistItem a {
    color: white;
    font-size: 30px;
    margin: 6px; }

  h1 {
    font-size: 6rem; }

  .mobileHeader {
    display: none; }

  .tabletHeader {
    display: block; }

  .iconsAdditonalInfo {
    display: inline-block; }

 /*
Portfolio!
===============================================================================================================================
*/
  .portfolioItemBackground {
    margin: 20px; }

  /*
    My Services!
    ===============================================================================================================================
    */
  #myServices {
    font-size: 20px; } }

/*# sourceMappingURL=stylesheet.css.map */
