#pictureScroll div, #addressContainer div, #footer li {
  display: inline-block;
  *display: inline; }

body {
  font-family: "Arial", sans-serif; }

#container {
  width: 950px;
  margin: 0 auto;
  height: 1000px; }

#logoType {
  margin-top: 25px;
  margin-left: 0px;
  margin-bottom: 35px; }

#topLine {
  margin-top: 15px;
  width: 100%;
  height: 5px;
  background-color: #95c1e0;
  margin-bottom: 20px; }

h1 {
  font-size: 40px;
  font-weight: 100 !important;
  margin-bottom: 50px; }

#tabContainer .purpleTriangle, .greyTriangle {
  float: left;
  margin-top: -25px;
  font-size: 12px;
  width: 125px;
  height: 26px; }

.purpleTriangle {
  background-color: #b365a7;
  margin-right: 4px; }

.greyTriangle {
  background-color: #b9b9b9;
  margin-right: 4px; }

.triangeText {
  color: white;
  font-weight: 100 !important;
  text-align: center;
  font-size: 11px;
  line-height: 6px; }

.addPicture {
  margin-top: -44px;
  margin-left: 745px;
  height: 35px;
  width: 205px;
  background-color: #b365a7;
  border-radius: 4px;
  float: left; }

.addPicture p {
  line-height: 8px;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  position: absolute;
  margin-left: 22px; }

.addPicture span {
  font-size: 24px; }

.purpleLine {
  width: 100%;
  height: 4px;
  background-color: #b365a7; }

#pictureContainer {
  margin-top: 12px;
  width: 100%;
  height: 345px; }

.leftScroll {
  height: 100%;
  float: left; }

.rightScroll {
  height: 100%;
  float: left;
  margin-top: -345px;
  margin-left: 5px; }

#gallery {
  height: 100%;
  margin: 0 5px 0 25px;
  width: 900px; }

.scroll {
  width: 20px;
  border-radius: 3px;
  background-color: lightgray; }

.galleryRow div {
  float: left;
  height: 80px;
  width: 120px;
  background-color: #b9b9b9;
  margin: 0px 4px 10px 4px; }

#pictureSearchContainer {
  width: 100%;
  height: 50px; }

#pictureSearchText, #pictureScroll {
  float: left;
  height: 30px; }

#pictureSearchText {
  margin-left: 30px; }

#pictureSearchText div {
  float: left;
  margin-top: 12px;
  color: #b365a7; }

#pictureSearchText div:last-child {
  padding-top: 5px; }

#pictureSearchText div:first-child {
  font-size: 20px;
  font-weight: lighter; }

#pictureSearchText div:last-child {
  font-size: 12px !important;
  margin-left: 5px; }

#pictureScroll {
  float: right; }

#pictureScroll div {
  font-size: 10px; }

#pictureScroll div:nth-child(2) {
  width: 80px;
  height: 15px;
  text-align: center;
  line-height: 5px; }

.arrow {
  height: 15px;
  width: 20px;
  background-color: #b9b9b9; }

#animalChoice {
  width: 895px;
  margin: -14px auto; }

#animalChoice select:nth-child(2) {
  width: 190px; }

#tagAndSocialContainer {
  margin: 15px 0 0 25px;
  width: 925px;
  height: 60px; }

#searchTagContainer, #socialContainer, #tagHeader {
  float: left; }

#tagHeader {
  text-align: center;
  font-size: 12px;
  height: 60px;
  width: 40px;
  margin-top: 12px;
  vertical-align: top; }

#searchTagContainer {
  margin-top: 10px;
  width: 515px;
  font-size: 12px; }

#searchTagContainer div {
  display: inline-block;
  margin: 2px 5px 3px 5px;
  float: left; }

.tags a {
  color: #b365a7;
  text-decoration: underline; }

#socialContainer {
  vertical-align: top;
  width: 360px;
  height: 100%; }

#innerSocialContainer {
  margin-top: 5px;
  margin-left: 215px; }

#innerSocialContainer div {
  float: left;
  vertical-align: top;
  font-size: 14px; }

.socialBox {
  margin: 0 2px 0 2px;
  height: 15px;
  width: 15px;
  background-color: #ff6944;
  color: white;
  text-align: center; }

#addressContainer {
  margin: 2px 4px 0 auto;
  width: 100%;
  height: 30px;
  background-color: #0159a1; }

#agriaText {
  color: white;
  font-size: 14px;
  margin-left: 15px; }

#adress {
  margin-left: 15px;
  width: 770px; }

#adress span {
  color: #b9b9b9;
  font-size: 10px; }

#listContainer {
  width: 100%; }

.list {
  float: left;
  width: 100px;
  vertical-align: top;
  height: 110px;
  margin: 0 1.60px 0 0; }

.list ul {
  margin: 0;
  padding: 0; }

.list ul li {
  margin-top: 6px;
  font-size: 10px;
  list-style-type: none;
  color: #b9b9b9; }

.list ul li:first-child {
  margin-top: 15px;
  font: bold; }

.clear {
  clear: both; }

#bottomLine {
  height: 33px;
  width: 100%;
  border-bottom: 2px solid #0159a1;
  display: block;
  margin-top: 15px; }

#bottomLine select {
  font-size: 8px;
  position: absolute;
  margin-top: 15px;
  margin-left: 870px; }

#footer {
  width: 590px;
  margin: 0 auto; }

#footer ul {
  margin-top: 5px; }

#footer li {
  list-style-type: none;
  margin: 0 5px 0 5px;
  text-align: left;
  font-size: 10px;
  color: #b9b9b9; }

/*# sourceMappingURL=stylesheet.css.map */
