
h1
{
    font-family: 'Stalemate', cursive !important;
    font-size: 120px;
    color: #c94140;
}

body
{
    font-family: 'Open Sans', sans-serif !important;
    margin:0;
    padding:0 0 0 0;
    color:#000;
    background:#efefef url(background.png);
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

.inputNumber /*Change The number input boxes*/
{   height: 20px;
    width: 100px;
    background-color: #e4e4e4;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border: none;
    font-size: 14px;
}

.numberLabel
{
    font-size: 16px;
    color: #ede3dc; /*TEXT COLOR FOR NUMBER OF CODES AND LENGTH OF CODES*/

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input:focus{
    outline: 0;
}
.checkbox
{
    margin-left: 80px;
    height: 200px;
    width: 400px;
    display: inline-block;

}
.codeNumbers
{
    float: right;
    height: 200px;
    width: 400px;
    display: inline-block;
}

input{
    margin-left: 10px;
}

label {
    margin-top: 16px;
    margin-left: 40px;
    display: inline-block;
    position: relative;
    width: 30px; /*Size of check box*/
    height: 30px; /*Size of check box*/
    padding-left: 45px; /* Text allocation in relation to box*/
    margin-right: 15px;
    font-size: 16px;
    color: #ede3dc;
}

label:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #e4e4e4;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=checkbox] {
    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before
{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 32px;
    color: #008040;
    text-align: center;
    line-height: 25px;
}


#codeButton
{

    width: 250px;
    height: 60px;
    background: #4DAF7C;
    border-radius: 10px;
    border: solid #c94140;
    color: #f5fbff;
    font-family:'Stalemate', cursive !important;
    font-size: 40px;
    outline:none; /*REMOVES THE ANNOYING BLUE BOX ROUND THE BUTTON WHEN CLICKED*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease
}

#codeButton:hover
{
    cursor: pointer;
    background: #549769;
    -webkit-box-shadow: 7px 3px 30px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    7px 3px 30px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         7px 3px 30px 0px rgba(50, 50, 50, 0.5);
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease
}
#codeButton:active
{
    cursor: pointer;
    width: 250px;
    height: 60px;
    color: #ede3dc;
    background: #00B16A;
    border-radius: 10px;
    box-shadow: inset 0px 10px 8px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px #000000;
    border: solid #c94140;
}
#codeTable
{
    color: #ede3dc;

}
