@media (min-width: 800px) and (max-width: 1024px)
{
  @import "variables.scss";


  #homeIcon {
    display: block;
  }
  .menu-toggle-btn {
    display: none;
  }
  #top-desktop-menu
  {
    display: block;
  }
  #top-mobile-menu-wrapper
  {
    display: none;
  }
  #header
  {
    width: 70%; // hej

  }
  #h1
  {
    font-size: 40px;
  }
  .aboutUs, .textContainer // Hej
 {
    width: 80%;
  }


  #phoneNavContainer
  {
    display: none;
  }
  .map-content
  {
    padding-top: 140px;
    // position: absolute;
  }
  #map-canvas {
    margin: 0 auto;
    width: 90%;
    height: 500px;
    //height: 100%;
  }

  .circle
  {
    height: $circleSize; // ja
    width:  $circleSize;
    border-radius:  $circleSize/2;
  }



  #header-box
  {
    padding-top: 200px;
  }

  .space
  {
    width: 500px; // hej
  }
  #member1, #member2, #member3
  {
    width: 300px;
  }

}