@import "variables.scss";

body
{
  font-family:'Open Sans', "arial", "helvetica neue" sans-serif;
  text-align: center;
  background-color: $whiteColor;
}
a
{
  text-decoration: none;
}
a:visited
{
  text-decoration: none;
}


#container
{
  margin: 0 auto;
  text-align: center;
}
.backgroundImage
{
  background: url(../images/backgroundOffice.jpg) no-repeat  center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  //margin-top: 200px;
  //min-width: 1024px;
  width: 100%;

  /* Set up proportionate scaling */
  height: auto;
  min-height: $mainContentHeight;

  //top: 0;
  left: 0;
  //display: table

}
#menu-container
 {

   padding: 1px;
   width: 100%;
   position: fixed;
   background-color: $blueColor;
   display: block;
   overflow: auto;
   z-index: 1; // Ser till att den alltid ligger över allt annat
 }
.menu-left
{

  display: inline-block;
  font-size: 60px;
  color: white;
  padding: 1px;
}
.menu-right
{
  padding: 1px;
  display: inline-block;
}
#phoneNavContainer {
 // display: none;
}



.topIcon
{
  margin: 20px;
  color: $whiteColor; // Hej
}
#top-desktop-menu
{
  padding: 1px;

}
#top-desktop-menu li
{

  display: inline-block;
 // margin-top: 20px;
  text-align: center;
  //margin-left: 70px;
  margin-left: 120px; // hej
 // padding-left: 30px;
}

#top-desktop-menu li a
{
  text-decoration: none;
 // color: darken($whiteColor,55%);
  color: $whiteColor;
  font-size: 18px;
  @extend %hovertransition;
}

#top-desktop-menu li a:hover
{
  @extend %hovertransition;
  line-height: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: darken($whiteColor,55%);
}


#top-mobile-menu-wrapper
{
  position: relative;
//  padding: 1px;
background-color: $blueColor;
}



#top-mobile-menu
{
  width: 100%;
  position: relative;

  padding: 0px;
//  height: 400px;

}


#top-mobile-menu li
{
  display: inline-block;
  text-align: center !important;
  margin-top:40px;

}

#top-mobile-menu li a
{
  text-decoration: none;
  // color: darken($whiteColor,55%);
  color: $whiteColor;
  font-size: 36px;
  @extend %hovertransition;
}

#top-mobile-menu li a:hover
{
  @extend %hovertransition;
  color: darken($whiteColor,55%);
}









.aboutUs, .textContainer // Hej
{
  z-index: 1;
  min-height: $secondContentHeight*1.2;
  height: auto;
  width: 80%;
  background-color: rgba(234,234,224,0.9);
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  color: $blackColor;
}

#header-box
{
margin: 0 auto;
}
.circle
{
  background: url(../images/profil.jpg) center;
  margin: 0 auto;
  height: $circleSize;
  width:  $circleSize;
  border-radius:  $circleSize/2; // Hej
  vertical-align: middle;
 // margin-top: 30px;
}
.space
{
  margin: 0 auto;
  height: 40px;
  border-bottom: 2px solid white;
}
#header
{
  top: 40%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}
.category-header
{
  padding-top: 70px;
}


#h1
{
  color: white;
  text-align: center;
  top: 30%;
}
.circle p
{
  color: $blueColor;
  position: relative;
  top: 45%;
}
#memberContainer
{
  padding-top: 20px;
  height: auto;
  width: 100%;
//  background-color: green;
  margin: 0 auto;
  display: inline-block;
  bottom: 20px;
}
#member1, #member2, #member3
{
  display: inline-block;
 // width: 300px;
  height: 190px;
  cursor: pointer;
}
#member1
{
  background: url(../images/privatamunhalsansmall.png) no-repeat  center center;
 // background-size: cover;
}
#member2
{
  background: url(../images/sverigestandlakarforbund.png) no-repeat  center center;
 // background-size: cover;

}
#member3
{
  background: url(../images/privattandlakarnaSmall.png) no-repeat  center center;
 // background-size: cover;

}





//
.footer
{
display: inline-block; // hej
width: 100%;
  color: black;
  //position: fixed;
  background-color: $whiteColor;
 // display: block;
  //vertical-align: bottom;
}
.adress,.phone, .openHours, .mail,
{
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 310px; // hej je
  vertical-align: top;
  color: $blackColor;
}
.mail a
{
  color: $blackColor;
  text-align: center;
}


.icons
{
  margin: 20px;
  font-size: 60px;
  color: $greyColor;
}
