@media (min-width: 1px) and (max-width: 374px)
{
  @import "variables.scss";

  #homeIcon {
    display: none;
  }

  #menu-container {
  height: auto;
  }

  #top-desktop-menu
  {
    display: none;
  }
  #top-mobile-menu
  {
  display: none;
  }
  #header
  {
    width: 95%; // hej

  }
  #h1
  {
    font-size: 24px; // HEJ
  }


  #phoneNavContainer
  {
    display: block;
   // height: 200px;
    //padding: 1px;
  }


  .circle
  {
    height: $smallCircleSize; // ja
    width:  $smallCircleSize;
    border-radius:  $smallCircleSize/2;
  }
  .aboutUs, .textContainer // Hej
 {
    width: 100%; // hej
  }


  .map-content
  {
    padding-top: 100px;
  }
  #map-canvas {
    margin: 0 auto;
    //margin-top: 5px;
    width: 90%;
    height: 240px;
    //height: 100%;
  }

  #header-box
  {
    padding-top: 120px;
  }

  .space
  {
    width: 300px; // hej
  }

  #member1, #member2, #member3
  {
     width: 200px;
  }


}
