@media (min-width: 1px) and (max-width: 374px) {
  #top-desktop-menu li a, #top-desktop-menu li a:hover, #top-mobile-menu li a, #top-mobile-menu li a:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  #homeIcon {
    display: none; }

  #menu-container {
    height: auto; }

  #top-desktop-menu {
    display: none; }

  #top-mobile-menu {
    display: none; }

  #header {
    width: 95%; }

  #h1 {
    font-size: 24px; }

  #phoneNavContainer {
    display: block; }

  .circle {
    height: 230px;
    width: 230px;
    border-radius: 115px; }

  .aboutUs, .textContainer {
    width: 100%; }

  .map-content {
    padding-top: 100px; }

  #map-canvas {
    margin: 0 auto;
    width: 90%;
    height: 240px; }

  #header-box {
    padding-top: 120px; }

  .space {
    width: 300px; }

  #member1, #member2, #member3 {
    width: 200px; } }
@media (min-width: 375px) and (max-width: 799px) {
  #top-desktop-menu li a, #top-desktop-menu li a:hover, #top-mobile-menu li a, #top-mobile-menu li a:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  #homeIcon {
    display: none; }

  #menu-container {
    height: auto; }

  #top-desktop-menu {
    display: none; }

  #top-mobile-menu {
    display: none; }

  #header {
    width: 95%; }

  #h1 {
    font-size: 24px; }

  #phoneNavContainer {
    display: block; }

  .circle {
    height: 270px;
    width: 270px;
    border-radius: 135px; }

  .aboutUs, .textContainer {
    width: 95%; }

  .map-content {
    padding-top: 100px; }

  #map-canvas {
    margin: 0 auto;
    width: 95%;
    height: 400px; }

  #header-box {
    padding-top: 200px; }

  .space {
    width: 300px; }

  #member1, #member2, #member3 {
    width: 200px; } }
@media (min-width: 800px) and (max-width: 1024px) {
  #top-desktop-menu li a, #top-desktop-menu li a:hover, #top-mobile-menu li a, #top-mobile-menu li a:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  #homeIcon {
    display: block; }

  .menu-toggle-btn {
    display: none; }

  #top-desktop-menu {
    display: block; }

  #top-mobile-menu-wrapper {
    display: none; }

  #header {
    width: 70%; }

  #h1 {
    font-size: 40px; }

  .aboutUs, .textContainer {
    width: 80%; }

  #phoneNavContainer {
    display: none; }

  .map-content {
    padding-top: 120px; }

  #map-canvas {
    margin: 0 auto;
    width: 90%;
    height: 500px; }

  .circle {
    height: 270px;
    width: 270px;
    border-radius: 135px; }

  #header-box {
    padding-top: 200px; }

  .space {
    width: 500px; }

  #member1, #member2, #member3 {
    width: 300px; } }
@media (min-width: 1025px) {
  #top-desktop-menu li a, #top-desktop-menu li a:hover, #top-mobile-menu li a, #top-mobile-menu li a:hover {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.3s ease;
    cursor: pointer; }

  #homeIcon {
    display: block; }

  .menu-toggle-btn {
    display: none; }

  #top-desktop-menu {
    display: block; }

  #top-mobile-menu-wrapper {
    display: none; }

  #header {
    width: 70%; }

  #h1 {
    font-size: 40px; }

  .aboutUs, .textContainer {
    width: 80%; }

  #phoneNavContainer {
    display: none; }

  .map-content {
    padding-top: 80px; }

  #map-canvas {
    margin: 0 auto;
    width: 100%;
    height: 640px; }

  .circle {
    height: 270px;
    width: 270px;
    border-radius: 135px; }

  #header-box {
    padding-top: 200px; }

  .space {
    width: 500px; }

  #member1, #member2, #member3 {
    width: 300px; } }
#top-desktop-menu li a, #top-desktop-menu li a:hover, #top-mobile-menu li a, #top-mobile-menu li a:hover {
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.3s ease;
  cursor: pointer; }

body {
  font-family: 'Raleway','Open Sans', "arial", "helvetica neue" sans-serif;
  text-align: center;
  background-color: #eaeae0; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

#container {
  margin: 0 auto;
  text-align: center; }

.backgroundImage {
  background: url(../images/backgroundOffice.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  /* Set up proportionate scaling */
  height: auto;
  min-height: 700px;
  left: 0; }

.arrowHole {
  position: relative;
  bottom: 28px;
  width: 100%;
  height: 20px;
  background-color: #eaeae0; }

.arrowHole:before,
.arrowHole:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box; }

.arrowHole:before {
  right: 50%;
  border-bottom: 20px solid #eaeae0;
  border-right: 20px solid transparent; }

.arrowHole:after {
  left: 50%;
  border-bottom: 20px solid #eaeae0;
  border-left: 20px solid transparent; }

#menu-container {
  min-height: 80px;
  padding: 1px;
  width: 100%;
  position: fixed;
  background-color: #417188;
  display: block;
  overflow: auto;
  z-index: 1; }

/*.menu-left
{
  display: inline-block;
  font-size: 60px;
  color: white;
  padding: 1px;
}*/
.menu-right {
  width: 100%;
  height: 80px;
  padding: 1px;
  display: inline-block; }

.topIcon {
  margin: 20px;
  color: #eaeae0; }

#top-desktop-menu li {
  display: inline-block;
  text-align: center;
  margin-top: 17px;
  margin-left: 6%;
  margin-right: 6%; }

#top-desktop-menu li a {
  text-decoration: none;
  color: #eaeae0;
  font-size: 18px; }

#top-desktop-menu li a:hover {
  line-height: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: white; }

#top-mobile-menu-wrapper {
  position: relative;
  background-color: #417188; }

#top-mobile-menu {
  width: 100%;
  position: relative;
  padding: 0px; }

#top-mobile-menu li {
  display: inline-block;
  text-align: center !important;
  margin-top: 40px; }

#top-mobile-menu li a {
  text-decoration: none;
  color: #eaeae0;
  font-size: 36px; }

#top-mobile-menu li a:hover {
  color: white; }

.menu-toggle-btn {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px; }
  .menu-toggle-btn span {
    background: white;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 6px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear; }
  .menu-toggle-btn.open span:nth-child(1), .menu-toggle-btn.open span:nth-child(3) {
    transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -webkit-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -ms-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -o-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    margin: 0; }
  .menu-toggle-btn.open span:nth-child(2) {
    height: 0;
    margin: 0; }
  .menu-toggle-btn.open span:nth-child(3) {
    transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -webkit-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -ms-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -o-transform: translate(0px, 9px) rotate(45deg) scalex(1.3); }

.aboutUs, .textContainer {
  z-index: 1;
  min-height: 768px;
  height: auto;
  background-color: rgba(234, 234, 224, 0.9);
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  color: #333333; }

.innerContent {
  width: 90%;
  margin: 0 auto; }

#header-box {
  margin: 0 auto; }

.circle {
  margin: 0 auto;
  /* height: $circleSize;
   width:  $circleSize;
   border-radius:  $circleSize/2;*/
  vertical-align: middle; }

.vinjett {
  background: url(../images/vinjett.jpg) center; }

.secondVinjett {
  background: url(../images/joanneIrene.jpg) center; }

.thirdVinjett {
  background: url(../images/office.jpg) center; }

.space {
  margin: 0 auto;
  height: 30px;
  border-bottom: 2px solid white; }

#header {
  top: 40%;
  padding-top: 5px;
  margin: 0 auto;
  text-align: center; }

.category-header {
  padding-top: 10px; }

#h1 {
  color: white;
  text-align: center;
  top: 30%; }

.circle p {
  color: #417188;
  position: relative;
  top: 45%; }

#memberContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  bottom: 20px; }

#member1, #member2, #member3 {
  display: inline-block;
  height: 190px;
  cursor: pointer; }

#member1 {
  background: url(../images/privatamunhalsanSmall.png) no-repeat center center; }

#member2 {
  background: url(../images/sverigestandlakarforbund.png) no-repeat center center; }

#member3 {
  background: url(../images/privattandlakarnaSmall.png) no-repeat center center; }

.footer {
  display: inline-block;
  width: 100%;
  min-height: 240px;
  color: black;
  background-color: #eaeae0; }

.adress, .phone, .openHours, .mail {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 310px;
  vertical-align: top;
  color: #333333; }

.mail a {
  color: #333333;
  text-align: center; }

.icons {
  margin: 20px;
  font-size: 60px;
  color: #787878; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**web
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=stylesheet.css.map */
