@media (min-width: 375px) and (max-width: 799px)
{
  @import "variables.scss";

  #homeIcon {
    display: none;
  }

  #menu-container {
    height: auto;
  }

  #top-desktop-menu
  {
    display: none;
  }
  #top-mobile-menu
  {
    display: none;
  }
  #header
  {
    width: 95%; // hej

  }
  #h1
  {
    font-size: 24px; // HEJ
  }


  #phoneNavContainer
  {
    display: block;
    // height: 200px;
    //padding: 1px;
  }





  .circle
  {
    height: $circleSize; // ja
    width:  $circleSize;
    border-radius:  $circleSize/2;
  }
  .aboutUs, .textContainer // Hej
 {
    width: 95%; // hej
  }


  .map-content
  {
    padding-top: 100px;
  }
  #map-canvas {
    margin: 0 auto;
    //margin-top: 5px;
    width: 95%;
    height: 400px;
    //height: 100%;
  }

  #header-box
  {
    padding-top: 200px;
  }

  .space
  {
    width: 300px; // hej
  }

  #member1, #member2, #member3
  {
    width: 200px;
  }

}