
@media (min-width: 1px) and (max-width: 500px)
{
  #header,#morseContainer,#haxContainer

  {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:auto;
  }

  .menu-toggle-btn {
    padding: 20px;
  }
  #header li
  {
    margin: 10px;
  }

  #header
  {
    min-height: 550px;
  }

  #haxContainer
  {
    padding-top: 0;
  }

  .info
  {
    font-size: 16px;
    padding-top: 40px; // hek
  }
 #headerButtons
  {
  height: 270px;

  }

  #aboutUs,#aboutTheProject

  {
    margin-left: 5%;
    width: 90%;
    padding-top: 40px;
  }

  .userInput // hej
{
    width: 300px;
  }




}

@media (min-width: 1px) and (max-width: 620px)
{
  #aboutTheProject
  {
    visibility: hidden;
  }
  #aboutTheProjectList
  {
    display: none;
  }
}

